<form class="cadastro-form">
  <div class="cadastro-password">
    <label for="password">Digite sua Senha: </label>  
    <input name="password" type="text">
  </div>
  <div class="cadastro-name">
    <label for="name">Digite seu nome completo: </label>  
    <input name="name" type="text">
  </div>
  <div class="cadastro-login">
    <label for="login">Digite seu login: </label>  
    <input name="login" type="text">
  </div>
  <div class="cadastro-email">
    <label for="email">Digite seu login: </label>  
    <input name="email" type="email">
  </div>
  <div class="cadastro-cpf">
    <label for="cpf">Digite seu login: </label>  
    <input name="cpf" type="number">
  </div>
  <div class="cadastro-phone">
    <label for="phone">Digite seu login: </label>  
    <input name="phone" type="number">
  </div>
</form>
