<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="login-container" >
    <h1 class="login-title">Login</h1>
      <div class="login-name">
        <label 
          for="name" 
          class="login-name-label"
        >
          Nome
        </label>
        <input 
          formControlName="name" 
          type="text" 
          class="login-name-input"
        >
      </div>
      <div class="login-password">
        <label 
          for="password" 
          class="login-name-password-label"
        >
         Senha 
        </label>
        <input 
          formControlName="password" 
          type="password" 
          class="login-name-password-input"
        >
      </div>
  
      <div class="login-button">
        <button 
          class="login-button-submit"
          type="submit"
        > 
          Entrar
        </button>
        <button 
          class="cadastrar-button-cadastrar"
          type="button"
          onclick="cadastrar()"
        > 
          cadastrar
        </button>
      </div>
  </div>
</form>

