<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="login-container container-fluid box-padrao" >
    <h1 class="login-title">Login</h1>
      <div class="login-name">
        <label 
          for="login" 
          class="login-name-label"
        >
          login
        </label>
        <input 
          formControlName="login" 
          type="text" 
          class="login-name-input app-input"
        >
      </div>
      <div class="login-password">
        <label 
          for="password" 
          class="login-password-label"
        >
         Senha 
        </label>
        <input 
          formControlName="password" 
          type="password" 
          class="login-name-password-input app-input"
        >
      </div>
  
      <div >
        <button 
          class="app-button"
          type="submit"
        > 
          Entrar
        </button>
      </div>
  </div>
</form>

