.login {
    &-container {
      width: 564px;
      height: 368px;
      left: 145px;
      top: 94px;
      margin-top: 100px;
      padding: 32px; 
      border-radius: 5px;
      background-color: #6495ED;

    }
    &-name-label, &-password-label {
      text-align: center;
      width: 50px;
      height: 40px;
      margin-left: 65px;
    }
    &-name-label {
      left: 271px;
      top: 250px;
    }
    &-password-label {
      left: 299px;
      top: 378px;
    }
    &-name,&-password {
        padding: 16px;
        &-input, &-password-input {
          margin: 16px;
          width: 258px;
          height: 35px;
        }
    }
    &-button-submit { 
      width: 179px;
      height: 42px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
}
