.login {
    &-container {
      width: 564px;
      height: 368px;
      background-color: #6495ED;

    }
    &-name-label, &-password-label {
      text-align: center;
      width: 50px;
      height: 40px;
      margin-left: 65px;
    }
    &-name-label {
      left: 271px;
      top: 250px;
    }
    &-password-label {
      left: 299px;
      top: 378px;
    }
    &-name,&-password {
        padding: 16px;
        &-input, &-password-input {
          margin: 16px;
          width: 258px;
        }
    }
}
