.login {
    
    &-title {
     
    }
    &-container {
      padding: 16px; 
      width: 300px;
    }
    &-name,&-password {
        padding: 16px;
    }
    &-button { 
      display: flex;
      position: relative;
      padding: 16px;
      justify-content: center;
      
      &-submit {
        margin-right: 16px;
      }
    }
}