.home-app {
  position: relative;
  width: 698px;
  height: 422px;
  background-color: #00FFFF;
  &-title {
    position: absolute;
    width: 318px;
    height: 28px;
    left: 185px;
    top: 11px;
  }
  &-button-login{
    position: absolute;
    width: 528px;
    height: 62px;
    border: 0;
    border-radius: 5px;
    left: 79px;
    top: 150px;
  }

  &-button-cadastrar {
    position: absolute;
    width: 527px;
    height: 66px;
    border: 0;
    border-radius: 5px;
    left: 79px;
    top: 256px;
  }
}
